* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffa500;
  color: #ffa500;
}
#container {
  background-color: #ffffff;
    width: 80%;
    height: auto;
    margin: 100px auto;
}
#rest {
  display: flex;
}
p#quote {
      font-size: 30px;
    font-family: sans-serif;
    padding: 50px 150px;
}
span#author {
    padding: 50px 150px;
}
#rest {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
a#button {
    padding: 10px;
    background-color: #ffa500;
    color: #ffffff;
    text-decoration: none;
}
ul#sotial {
    display: inline-grid;
    grid-template-columns: 50px 50px;
}
li {
  list-style-type: none;
}
.fa {
    background-color: #ffa500;;
    padding: 8px;
    color: #ffffff;
}